pre approval form

  
<form class="container">
  <div class="form-group">
    <label for="kdn">kdn</label>
    <input type="number" class="form-control" id="kdn" aria-describedby="emailHelp" placeholder="Enter kdn">

  </div>
  <div class="form-group">
    <label for="lt-no">lt-no</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="enter lt no">
  </div>
  <div class="form-group">
    <label for="quantity">quantity</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="enter quantity">
  </div>
  <div class="form-group">
    <label for="post">post</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter post">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary"  (click)="onAddlt_no()">Submit</button>
  
</form>
{{newlt_no}}